<!-- change form action, for, id, and name -->
<form action="/temps" method="post">
  <label for="something">Add something</label>
  <input id="something" name="something" type="text">
  <button type="submit">Submit</button>
</form>